body {
    font-family: "Chakra-Petch", sans-serif;
    color: white;
    background-color: black;
    margin: 0;
}

header {
    padding: 10px;
    font-size: 50px;
    color: rgb(255,0,0);
    border-bottom: 1px solid rgb(255, 0, 0);
}

h1 {
    font-size: 70px;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    display: flex;
    background-color: rgb(19, 19, 19);
}

.escrito {
    
    margin-right: 5%;
}